<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./fragments/head") %>
    <title>Quizzeo</title>
</head>

<body>
    <h1>Bienvenue sur Quizzeo <%=name%>!</h1>
    <form action="/quizz/start" method="post">
        <button type="submit">Démarrer un quizz!</button>
    </form>
</body>

</html>
